<div id="add-user-form">
  <h1>User Management</h1>
  <hr />
  <section>
    <h2>Add User</h2>
    <form id="userAddForm" hx-post="/add-user">
      <div class="form-group">
        <label for="addUserEmail" class="form-label">Email:</label>
        <input
          type="email"
          class="form-control"
          id="addUserEmail"
          aria-describedby="emailHelp"
          name="username"
          placeholder="admin@vibemusicacademy.com" />
      </div>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" id="addUserFirstName" placeholder="First Name" name="first_name" />
        </div>
        <div class="col">
          <input type="text" class="form-control" id="addUserLastName" placeholder="Last Name" name="last_name" />
        </div>
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Add User</button>
    </form>
  </section>
  <section>
    <hr />
    <h2>Manage Users</h2>
    <div hx-get="/users/list" hx-trigger="load" hx-swap="innerHTML" hx-target="#userManagementList">
      <div id="userManagementList"></div>
    </div>
  </section>
</div>
